.App {
  height: 100vh;
  width: 100vw;
  text-align: center;

  section {
   height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: black;

    .logo {
      height: 200px;
    }

    h1 {
      font-size: 4rem;
    }

    form {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 25%;
      justify-content: center;
      align-items: center;

      input {
        margin-top: 0.5rem;
        width: 250px;
        font-size: 1rem;
        text-align: center;
      }
      button {
        margin-top: 2rem;
        height: 3rem;
        font-size: 1rem;
      }
    }
  }
}