.top {
    display:flex;
}

.home-wrapper {
  display: flex;
  justify-content: center;
  .logo {
    height: 17vh;
    position: absolute;
    top: 5vh;
    left: 3vw;
  }
  .categories-wrapper {
    
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-self: center;
    .category-list {
      list-style: none;
    }
    .category {
      font-size: 2rem;
      padding: 1rem;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

}